* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.nav {
    height: 80px;
    display: flex;
    background-image: linear-gradient(90deg,#1E40AF,black);
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav .logo {
    align-content: center;
}

.list {
    display: flex;
}

.list ul {
    align-content: center;
    align-self: center;
    justify-content: space-around;
    display: flex;
    list-style: none;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: white
}

.list ul li{
    align-self: center;
    align-content: center;
    justify-items: center;
}

.list ul li a {
    display: block;
    text-decoration: none;
    color: #1E40AF;
    &:hover {
        transform: scale(1.4);
    }
}
.main{
    background-image: url(assets/bg.svg), radial-gradient(circle at center, #fffdf3 0%, #f7e49a 60%, #ffffff 100%);
    background-size: 8%;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 65px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    max-width: 750px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
 
#close-popup{
    background-color: #ad3a3a;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 12px 15px;
    margin-top: 23px;
    font-size: 16px;
}

.stt-controls button {
    margin: 10px;
    padding: 13px 23px;
    border-radius: 35px;
    background-color: #1E40AF;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.stt-controls button:hover {
    background-color: black;
}

.result-box {
    margin-top: 20px;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 10px 13px;
    border: 2px solid #1E40AF;
    width: 80%;  
    max-height: 120px; 
    overflow-y: auto; 
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;       
    white-space: pre-wrap;
    text-align: left; 
    line-height: 1.5;
    font-size: 16px;
    color: #111827;
}

#stt-status { 
    margin-bottom: 10px;
    color: #1E40AF;
    font-weight: 550;
    margin-top: 15px;
}
