* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: center;
}


.nav {
    height: 80px;
    display: flex;
    background-image: linear-gradient(90deg, #1E40AF, black);
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav .logo {
    align-content: center;
}

.list_profile button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    margin: 25px;
    border: none;
    background-color: white;
    color: #1E40AF;
}

.list_profile button:hover {
    background-color: #1E40AF;
    color: white;
}


.profile_title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #2f80ed;
    overflow: hidden;
    margin: 20px auto 5px ;
    position: relative;
}

.overlay.hidden {
    display: none;
}

.password_field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.password_field.hidden {
    display: none;
}

.btnedit .hidden {
    display: none;
}

.hidden {
    display: none ;
}


.profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.profile_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_info {
    display: flex;
    flex-direction: column;
    margin: 20px auto 10px;
    width: 300px;
    gap: 10px;
    justify-content: center;
}

.profile_info label {
    font-weight: bold;
}

.profile_info input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.profile_info input:disabled {
    background-color: white;
}

.btnedit {
    margin-top: 15px;
    padding: 8px;
    border-width: 1px;
    border-radius: 8px;
    background-color: white;
    color: #14279B;
    cursor: pointer;
}

.btnlogout {
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #14279B;
    color: white;
    cursor: pointer;
}

.logout {
    color: white;
}

.kontak {
    background-image: linear-gradient(75deg, #1E40AF, white);
    ;
    padding: 20px 10%;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #facc15;
}

.profile_actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    margin-bottom: 40px;
}

.profile_actions button {
    width: 100%;
}

.password_field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
