* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.nav {
    height: 80px;
    display: flex;
    background-image: linear-gradient(90deg,#1E40AF,black);
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav .logo {
    align-content: center;
}

.list {
    display: flex;
}

.list ul {
    align-content: center;
    align-self: center;
    justify-content: space-around;
    display: flex;
    list-style: none;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: white
}

.list ul li{
    align-self: center;
    align-content: center;
    justify-items: center;
}

.list ul li a {
    display: block;
    text-decoration: none;
    color: #1E40AF;
    &:hover {
        transform: scale(1.4);
    }
}
.main {
    padding: 100px ;
}

.main h1 {
    font-size: 32px;
    color: #1E40AF;
    margin-bottom: 15px;
}

.main p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #333;
}

#stg-btn {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    background-color: #1E40AF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#stg-btn:hover {
    background-color: black;
}

#stg-result {
    margin-top: 70px;
    padding: 20px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    text-align: center;
    min-height: 250px;
    background-color: #f9f9f9;
}

#recognized-text {
    font-size: 22px;
    color: #1E40AF;
}
#gesture-display {
    margin-top: 20px;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 10px;
    font-size: 18px;
    color: #555;
}

.kontak{
    background-image: linear-gradient(75deg,#1E40AF,white);;
    padding: 20px 10%;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .social-links {
    display: flex;
    gap: 20px;
  }
  
  .social-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #facc15;
  }